<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" />
        <title>
            <h1>Mercado Liebre</h1>
        </title>
    </head>

    <body>
        <header>
            <div class="mainHeader"><img class="logoHeader" src="/img/logo-mercado-liebre.svg"
                    alt="logo de mercado liebre">
                <h2>Lugar para poner la barra de busqueda</h2>
                <h2 class="byLine">Comprá en Cuotas sin tarjeta de crédito</h2>
                <img src="/img/img-home-banner.jpg" alt="">
            </div>
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="#">Creá tu cuenta</a></li>
                    <li><a href="#">Ingresá</a></li>
                    <li><a href="#">Mis compras</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <h2>Basado en tu última visita</h2>
                <article>
                    <img src="/img/img-cafetera-moulinex.jpg" alt="Img Cafetera Moulinex">
                    <p class="price">$6.770</p>
                    <p class="discount">40% Off</p>
                    <p class="productDescription">Cafetera Moulinex</p>
                </article>
                <article>
                    <img src="/img/img-macbook-pro-2019.jpg" alt="Img MacBook Pro 2019">
                    <p class="price">$230.000</p>
                    <p class="discount">20% Off</p>
                    <p class="productDescription">MacBook Pro 2019</p>
                </article>
                <article>
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Img Samsung Galaxy S10">
                    <p class="price">$70.500</p>
                    <p class="discount">10% Off</p>
                    <p class="productDescription">Samsung Galaxy S10</p>
                </article>
                <article>
                    <img src="/img/img-tv-samsung-smart.jpg" alt='Img Samsung Smart TV 43"'>
                    <p class="price">$23.200</p>
                    <p class="discount">5% Off</p>
                    <p class="productDescription">SmartTv Samsung 43"</p>
                </article>
            </section>
            <section>
                <h2>Sección de Ofertas</h2>
                <article>
                    <img src="/img/img-cafetera-moulinex.jpg" alt="Img Cafetera Moulinex">
                    <p class="price">$6.770</p>
                    <p class="discount">40% Off</p>
                    <p class="productDescription">Cafetera Moulinex</p>
                </article>
                <article>
                    <img src="/img/img-macbook-pro-2019.jpg" alt="Img MacBook Pro 2019">
                    <p class="price">$230.000</p>
                    <p class="discount">20% Off</p>
                    <p class="productDescription">MacBook Pro 2019</p>
                </article>
                <article>
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Img Samsung Galaxy S10">
                    <p class="price">$70.500</p>
                    <p class="discount">10% Off</p>
                    <p class="productDescription">Samsung Galaxy S10</p>
                </article>
                <article>
                    <img src="/img/img-tv-samsung-smart.jpg" alt='Img Samsung Smart TV 43"'>
                    <p class="price">$23.200</p>
                    <p class="discount">5% Off</p>
                    <p class="productDescription">SmartTv Samsung 43"</p>
                </article>
            </section>
        </main>

        <footer>
            <div>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>
            </div>
            <div>
                <h4>Envió gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </div>
            <div>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </footer>
    </body>

</html>