/* 
Separar los css en distintos archivos y reordenarlos
asi quedan mejor.
*/

/* Paleta  de  colores 
 */
:root {
	--main-yellow: #eac926;
	--dark-blue: #03264c;
	--light-blue: #3483fa;
	--light-blue-consigna: #1259c3;
	--dark-grey: #666;
	--light-grey: #ebebeb;
	--green: #39b54a;
}

* {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
}

body {
	position: relative;
	min-height: 100vh;
	min-width: 100vw;
	background-color: var(--light-grey);
	font-family: "Roboto", sans-serif;
	font-size: 12px;
}
main {
	margin-right: auto;
	margin-left: auto;
	height: auto;
	width: 90%;
}
footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding: 10px;
}

article {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	background-color: white;
	margin-bottom: 10px;
	padding: 15px;
	border-top: solid 1px var(--light-grey);
}
p {
	font-size: 12px;
}

/* ------------- HEADER ------------------- */
.fas {
	size: 2em;
	/* margin-bottom: 10px; */ /* El maquetado no tiene este margen. */
}
/* Universal Classes */
.h100 {
	height: 100%;
}
.w100 {
	width: 100%;
}

.text-align-center {
	text-align: center;
}
.dark-grey {
	color: var(--dark-grey);
}
.light-grey {
	color: var(--light-grey);
}
.dark-blue {
	color: var(--dark-blue);
}
.main-yellow {
	color: var(--main-yellow);
}
.green {
	color: var(--green);
}

/* Header */
.main-header {
	background-color: var(--main-yellow);
	padding: 15px;
	color: black;
	justify-content: center;
	align-items: center;
}
.main-header-bar-left {
	display: flex;
	justify-content: space-between;
}
.logo-header {
	width: 50%;
}
.nav-search-bar {
	display: flex;
	padding-left: 10px;
	justify-content: flex-end;
	align-items: stretch;
	border: none;
	flex-grow: 1;
}
.search-bar {
	width: 100%;
	font-size: 20px;
	padding: 5px 0px;
	border-radius: 5px;
	border: none;
	text-overflow: ellipsis;
}
.search-button {
	border: none;
	border-radius: 5px;
	background-color: white;
	margin-left: -20px;
}
.icon-search {
	font-size: 20px;
	margin-bottom: 0px;
	align-self: center;
	border: none;
	color: var(--dark-grey);
}
.byline {
	font-size: 14px;
	font-weight: 400;
	margin: 15px 0px;
}
.nav-list {
	list-style: none;
	margin-left: 0px;
	padding: 5px 0px;
}
.nav-item > a {
	text-decoration: none;
	font-size: 12px;
	padding-right: 3px;
	color: black;
}
.banner {
	margin-bottom: 10px;
}
.img-banner {
	width: 100vw;
	margin-left: 0;
}
.btn-primary {
	background-color: var(--dark-blue);
	border-radius: 5px;
	margin: auto;
	display: block;
	padding: 15px;
}
.burger {
	color: white;
	font-size: 18px;
}
/* ----------- Products Section ------------ */
.section-header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 5px;
	font-size: 24px;
	color: var(--dark-grey);
}
.section-product {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: var(--light-grey);
}
article {
	width: 100%;
}

.card-description {
	border-top: solid 1px var(--light-grey);
	position: relative;
	padding: 10px;
}
.card-info {
	margin-top: 5px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.img-card {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}
.delivery-icon {
	display: box;
	padding: 5px;
	border-radius: 50%;
	background-color: white;
	border: solid 1px var(--green);
	position: absolute;
	top: -15px;
	right: 25px;
	transition: transform 5s;
}
.fa-truck {
	color: var(--green);
	font-size: 14px;
	padding: 0px;
}
.price {
	font-size: 18px;
	color: var(--dark-grey);
}
.discount {
	color: var(--green);
	font-weight: 300;
	font-size: 16px;
	flex-grow: 1;
	padding-left: 10px;
}
.productDescription {
	color: var(--dark-grey);
	font-weight: 300;
	font-size: 16px;
	padding-top: 10px;
}

/*---------- Footer------------ */
.footer-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 30px;
}
.footer-item {
	width: 100%;
}

.icon-footer {
	color: var(--dark-blue);
	margin-bottom: 5px;
	font-size: 3em;
}
.footer-sub-heading {
	color: var(--dark-grey);
	margin: auto;
}

.footer-description {
	color: var(--dark-grey);
	margin: auto;
	margin-bottom: 30px;
}

.footer-copyright {
	width: 100%;
	text-align: left;
	color: var(--dark-grey);
}
.nav-bar {
	display: none;
}
.m-l-hidden {
	display: flex;
}

/* Register */
.form-body {
	display: flex;
	justify-content: center;
}

.form-item {
	margin: 10px 0px;
	width: 100%;
}
.form-item input {
	border: none;
	border-radius: 5px;
	padding: 3px 5px;
	color: var(--dark-grey);
}
#name,
#dateOfBirth,
#username,
#user-email,
#user-address {
	width: 100%;
	display: block;
}

.btn-group-register {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}
.btn-primary-register {
	background-color: var(--light-blue);
	color: white;
	border: none;
	border-radius: 5px;
	padding: 5px;
}
.btn-secondary-register {
	background-color: var(--dark-grey);
	color: white;
	border: none;
	border-radius: 5px;
	padding: 5px;
}
/* Login */
.form-login,
.register-form {
	background-color: white;
	margin-bottom: 15px;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"] {
	width: 100%;
	padding: 12px 20px;
	margin: 5px 0;
	background-color: white;
	border: solid 1px var(--light-blue);
	border-radius: 5px;
}
.btn-login,
.btn-cancel {
	background-color: var(--light-blue);
	color: white;
	padding: 15px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 5px;
	width: 100%;
}
button:hover {
	opacity: 0.8;
	background-color: #0022aa;
}
.btn-cancel {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
.image-container {
	text-align: center;
	margin-top: 24px;
}
.user-image {
	width: 40%;
	border-radius: 50%;
}
.form-container {
	padding: 16px;
	max-width: 500px;
}
span.psw {
	float: right;
	padding-top: 16px;
}

/* <---------MEDIA QUERIES---------> */
/* Iintermediate for TABlETS to acocmodate the top bar distribution better */
@media (min-width: 769px) {
	/* Header */
	.main-header-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		margin: auto;
	}
	.main-header-bar-left {
		justify-content: flex-start;
		align-items: center;
		max-width: 1000px;
		flex-grow: 1;
	}
	.nav-search-bar {
		padding: 20px 0px;
		padding-right: 20px;
		padding-left: 5px;
		align-items: center;
	}
	.search-bar,
	.icon-search {
		font-size: 14px;
	}
	.byline {
		max-width: 300px;
		font-size: 14px;
		text-align: right;
	}
	.nav-bar {
		display: flex;
		flex-wrap: nowrap;
		padding: 0px;
		margin: auto;
		font-size: 16px;
	}
	.nav-list-container-left,
	.nav-list-container-right {
		display: flex;
		width: 50%;
		margin-top: 10px;
	}
	.nav-list-container-right {
		justify-content: flex-end;
		align-content: flex-end;
	}
	.nav-list-left {
		display: flex;
		justify-content: flex-start;
	}
	.nav-list-right {
		display: flex;
		justify-content: flex-end;
	}
	.nav-item {
		margin-left: 5px;
	}
	.nav-item > a {
		margin: 0px 0px;
		margin-left: 5px;
		font-size: 16px;
	}
	.m-l-hidden {
		display: none;
	}
	/* Product */
	article {
		width: 45%;
	}
	/* Register */
	.register-form {
		max-width: 350px;
	}
}

@media (min-width: 1200px) {
	/* Header */
	.main-header {
		padding: 20px;
	}
	.logo-header {
		max-width: 280px;
	}
	.nav-search-bar {
		max-width: 300px;
	}
	.search-bar,
	.icon-search {
		font-size: 16px;
	}
	.nav-bar {
		margin-top: 20px;
	}
	.nav-item {
		margin: 0px 10px;
	}
	.nav-item a {
		font-size: 16px;
	}
	.byline {
		max-width: none;
		font-size: 18px;
		margin: 0px;
	}

	/* Products section */
	article {
		width: 22%;
	}
	article:hover {
		box-shadow: 0px 5px 10px rgb(100, 100, 100);
	}
	.productDescription {
		display: none;
	}
	article:hover .productDescription {
		display: initial;
	}

	article:hover .delivery-icon {
		transform: rotate(360deg);
	}

	/* Footer */
	.footer-container {
		display: flex;
		justify-content: space-between;
	}
	.footer-item {
		width: 30%;
	}
	.footer-item:hover .icon-footer {
		color: var(--light-blue);
	}
}
