/* Login */
.form-container {
	padding: 16px;
	max-width: 500px;
}
.form-body {
	display: flex;
	justify-content: center;
}
.form-login{
	background-color: white;
	margin-bottom: 15px;
}

.form-item {
	margin: 10px 0px;
	width: 100%;
}
.form-item input {
	border: none;
	border-radius: 5px;
	padding: 3px 5px;
	color: var(--dark-grey);
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"] {
	width: 100%;
	padding: 12px 20px;
	margin: 5px 0;
	background-color: white;
	border: solid 1px var(--light-blue);
	border-radius: 5px;
}
.btn-login,
.btn-cancel {
	background-color: var(--light-blue);
	color: white;
	padding: 15px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 5px;
	width: 100%;
}
.btn-cancel:hover, .btn-login:hover {
	opacity: 0.8;
	background-color: #0022aa;
}
.btn-cancel {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
.image-container {
	text-align: center;
	margin-top: 24px;
}
.user-image {
	width: 40%;
    border-radius: 50%;
    transition: 2s;
}
span.psw {
	float: right;
	padding-top: 16px;
}