/* 
Separar los css en distintos archivos y reordenarlos
asi quedan mejor.
*/

/* Paleta  de  colores 
 */
:root {
	--main-yellow: #eac926;
	--dark-blue: #03264c;
	--light-blue: #3483fa;
	--light-blue-consigna: #1259c3;
	--dark-grey: #666;
	--light-grey: #ebebeb;
	--green: #39b54a;
}

* {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
}

body {
	position: relative;
	min-height: 100vh;
	min-width: 100vw;
	background-color: var(--light-grey);
	font-family: "Roboto", sans-serif;
	font-size: 12px;
}
main {
	margin-right: auto;
	margin-left: auto;
	height: auto;
	width: 90%;
}

p {
	font-size: 12px;
}

/* ------------- HEADER ------------------- */
.fas {
	size: 2em;
	/* margin-bottom: 10px; */ /* El maquetado no tiene este margen. */
}
/* Universal Classes */
.h100 {
	height: 100%;
}
.w100 {
	width: 100%;
}

.text-align-center {
	text-align: center;
}
/* Colours */
.dark-grey {
	color: var(--dark-grey);
}
.light-grey {
	color: var(--light-grey);
}
.dark-blue {
	color: var(--dark-blue);
}
.main-yellow {
	color: var(--main-yellow);
}
.green {
	color: var(--green);
}